:root {
	--white: #ffffff;
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--dark);
	background-color: var(--white);
	letter-spacing: 0.02em;
	line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding: 120px 0;
}

/*-------HEADER------*/

.header {
	padding: 24px 0;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
	display: flex;
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--dark);
	display: flex;
}

.header-logo-web {
	color: var(--primary-brand);
}

.header-navigation {
	margin-left: 77px;
}

.header-navigation-list {
	display: flex;
	gap: 40px;
	margin-left: 77px;
}

.header-navigation-item {
	font-weight: 700;
	font-size: 16px;
}

.header-contacts {
	display: flex;
	gap: 40px;
	margin-left: auto;
}
.header-contacts-link {
	font-size: 16px;
	color: var(--text);
	text-decoration: none;
}

.header-navigation-link {
	text-decoration: none;
	color: var(--dark);
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link:active {
	color: var(--primary-brand);
}

.current {
	color: var(--primary-brand);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
	color: var(--primary-brand);
}

/*------MAIN STUDIO PAGE-------*/

.main-banner {
	background: var(--dark);
	text-align: center;
	padding: 192px 0;
}

.main-banner-slogan {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: var(--white);
	width: 492px;
	margin: 0 auto 48px auto;
}

.main-banner-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.04em;
	color: var(--white);
	background-color: var(--primary-brand);
	align-items: center;
	padding: 16px 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: 1px;
	/* display: block;
	margin: 0 auto; */
}

.main-banner-btn:hover,
.main-banner-btn:focus,
.main-banner-btn:active {
	background-color: #404bbf;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features-list,
.activities-list,
.team-list,
.header-navigation-list {
	display: flex;
	list-style-type: none;
}

.features-list {
	gap: 24px;
}

.section-activities {
	padding-top: 0;
}

.activities-list,
.team-list {
	gap: 24px;
	margin-top: 72px;
}

.activities-item {
	width: calc((100% - 48) / 3);
}

.features-subtitle,
.team-member-name {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
}

.features-item {
	width: 264px;
}

.subtitle-description,
.job-title {
	font-size: 16px;
	color: var(--text);
	margin-top: 8px;
}

.activities-title,
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
}

.section-team {
	background-color: #f4f4fd;
}

.team-item {
	width: 264px;
	background: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}

.member-info {
	margin: 32px 0;
}
/*------FOOTER-------*/
.footer {
	background-color: var(--dark);
	padding: 100px 0;
}

.fotter-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
	text-decoration: none;
	display: flex;
	width: 115px;
}

.footer-logo-web {
	color: var(--primary-brand);
}

.footer-text {
	font-size: 16px;
	color: #e7e9fc;
	width: 264px;
	margin-top: 16px;
}

/*------MAIN PORTFOLIO PAGE-------*/

.filter-portfolio-item,
.project-item {
	list-style-type: none;
}
.filter-portfolio-list,
.project-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}
.project-link {
	text-decoration: none;
}

.filter-portfolio-list {
	margin-top: 96px;
	margin-bottom: 72px;
	justify-content: center;
}
.project-item {
	width: 360px;
	background-color: #ffffff;
	border: 0.5px solid #f4f4fd;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.filter-portfolio-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--primary-brand);
	cursor: pointer;
	background-color: #f4f4fd;
	border: 1px;
	border-radius: 4px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	padding: 12px 24px;
}

.filter-portfolio-btn:hover,
.filter-portfolio-btn:focus {
	color: var(--white);
	background-color: var(--primary-brand);
}

.project-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
}

.project-content {
	margin: 32px auto 32px 16px;
}
.project-type {
	font-size: 16px;
	color: var(--text);
	margin-top: 8px;
}

.project-section {
	padding-bottom: 120px;
}
